{% extends 'admin-base.html.twig' %}

{% block body %}
    <!-- Left column-->
    {% include 'admin/header.html' %}
    <div class="templatemo-content col-1 light-gray-bg">
        <div class="templatemo-top-nav-container">
            <div class="row">
                <nav class="templatemo-top-nav col-lg-12 col-md-12">
                    <ul class="text-uppercase">
                        <li><a href="" class="active">Admin panel</a></li>
                        <li><a href="">Dashboard</a></li>
                        <li><a href="">Overview</a></li>
                        <li><a href="login.html">Sign in form</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="templatemo-content-container">


        {% for device in devices %}
            <div class="span4">
                <h2>{{ device.deviceId }} {{ device.latitude }} {{ device.longitude }}</h2>

            </div>
        {% endfor %}


            <footer class="text-right">
                <p>Copyright &copy; 2084 Company Name
                    | Designed by <a href="http://www.templatemo.com" target="_parent">templatemo</a></p>
            </footer>


{% endblock %}