{% extends 'admin-base.html.twig' %}

{% block body %}
    <!-- Left column-->
    {% include 'admin/header.html' %}
    <div class="templatemo-content col-1 light-gray-bg">
        <div class="templatemo-top-nav-container">
            <div class="row">
                <nav class="templatemo-top-nav col-lg-12 col-md-12">
                    <ul class="text-uppercase">
                        <li><a href="" class="active">Admin panel</a></li>
                        <li><a href="">Dashboard</a></li>
                        <li><a href="">Overview</a></li>
                        <li><a href="login.html">Sign in form</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    <div class="templatemo-content-container">
        <div class="templatemo-flex-row flex-content-row">   <h1>My Devices</h1></div>
    <div class="templatemo-flex-row flex-content-row">

        {% if not devices %}
            <h2>add device</h2>
        {% endif %}
        {% for device in devices %}

            <div class="templatemo-content-widget white-bg col-1 text-center">
                <i class="fa fa-times"></i>
                <h2 class="text-uppercase">{{ device.deviceTitle }}</h2>
                <h3 class="text-uppercase margin-bottom-10">{{ device.deviceId }}</h3>
                <img src="/admin-template/images/{{ device.deviceId }}.jpg" class="img-circle img-thumbnail">
            </div>

        {% endfor %}


    </div>
    </div>



{% endblock %}
